.env
.env.local
.env.*.local

*.exe
*.dll
*.so
*.dylib

bin/
dist/
build/
.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

backend/tmp/
backend/private.pem
backend/public.pem

node_modules/
.next/
out/

.dart_tool/
.packages
build/
*.iml
.metadata
.pub/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart
*.mocks.dart

*.log
coverage/

infra/docker-compose.override.yml
infra/docker-compose.prod.yml


Docs/*